 .container{
//     display: flex;
//     text-align: center;
// 
background-color: transparent;
}

// .container >div{
//     flex: 1;
// }


#background-img {
    padding-top: 50px;
    background: url(../assets/img/background.png);
    background-repeat: no-repeat;
    background-size: 600px auto;
    background-position: right 10px top 10px;
  }

  