<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" id="background-img">
  <!-- <h4>
  {{ title }}!
  </h4> -->
  <div class="container">
    <div class="row">
      <div class="col-sm" style=" text-align:center;">
          <img width="200" src="../assets/img/whispersofthewind.png">
      </div>
     
</div>


</div>

<div class="container">

  <div>
    <app-poem-read></app-poem-read>
  </div>

</div>

<div>
    <hr>
  </div>

<br>
<br>



<app-footer></app-footer>



<router-outlet></router-outlet>